<html style="padding: 30px;background: #c8dbd6;"><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  
</head>
<body style="
    margin: 0px 0px; /* 80px of top/bottom margin and 0px of left/right margin*/
    padding: 0px px;
    color: #212d40;
">
  <div class="container" style="
">
    <div class="card-white" id="introduction">
      <h1 style="
    /* padding: 30px; */
    margin-right: 0px;
    border-radius: 10px;
    padding-left: 550px;
    align-self: center;
    /* padding-left: inherit; */
    font-family: robotto;
">👋Hello, I'm Heloise ! </h1>
      <img src="profile.jpeg" 
    border-radius: 50%;
    padding: 30px;
    margin-left: 570px;
    margin-right: 200px;
"> 

      <p style="
    background: white;                         /* White background */
    padding: 35px;                             /* Internal space */
    border-radius: 4px;                        /* Small radius */
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    border-left: cadetblue;
    /* text-orientation: sideways-right; */
    margin-left: 30px;
    color: #212d40;
    width: 700px; /* set the width of your container*/
    margin: 40px auto;
">
       A creative and proactive first-year student at ESSEC Business School Asia Pacific.
      </p>
      <a href="https://www.essec.edu/en/" class="btn-red" target="_blank" style="margin-left: 350px;">Discover 
      ESSEC</a>
  
   
  <div class="card-white" style="
    background: white;                         /* White background */
    padding: 35px;                             /* Internal space */
    border-radius: 4px;                        /* Small radius */
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    margin-left: 30px;
    width: 700px; /* set the width of your container */
    margin: 40px auto;
">
        <h2 style="
          color: darkslateblue;
        ">👩‍💻My skills </h2>
        <p style="
         color:#212d40;
  "> As a current student in an international Business School, I can either speak or understand the following languages: French, English, Spanish, Mandarin and Russian.
        </p>

        <p style="
          color: #212d40;
  ">I like editing pictures, drawing and creating small videos.I use computer tools such as Adobe and Final Cut Pro to design aesthetic dashboards and edit videos.
      </p>
      <p style="
       color: #212d40;
  ">I'm efficient in the use of Microsoft Pack office, it is my everyday tool to gather and to synthesize data as well as to create graphics to showcase results in pleasant business presentations. 
      </p>

  </div>
        
  <div class="card-white" style="
    background: white;                         /* White background */
    padding: 35px;                             /* Internal space */
    border-radius: 4px;                        /* Small radius */
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    margin-left: 30px;
    width: 700px; /* set the width of your container */
    margin: 40px auto;
">
        
        <h2 style="
        color: darkslateblue;
">📚My work experience</h2>
            <p>I was a volunteer coordinator for many years in high school.
            </p>
            <p>I was a data analyst assistant at Orange company
            </p>
            <p>I'm currently a part-time intern working at Zenko Co. in digital marketing</p>
  </div>

  <div class="card-white" style="
    background: white;                         /* White background */
    padding: 30px;                             /* Internal space */
    border-radius: 4px;                        /* Small radius */
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    margin-left: 30px;
    width: 700px; /* set the width of your container */
    margin: 40px auto;
">  
        <h2 style="
          color: darkslateblue;
         ">🧩My passions</h2>
            <p>I'm passionate about finance and creative designing ! I have strong knowledge in customer relationships and in digital marketing tools ,thanks to my study program, and my experience in promoting events to collect funds to help people in need </p>
            <p> I would like to learn how to code!</p>
  </div>
   
  <div class="card-white" style="
    background: white;                         /* White background */
    padding: 30px;                             /* Internal space */
    border-radius: 4px;                        /* Small radius */
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    margin-left: 30px;
    width: 700px; /* set the width of your container */
    margin: 40px auto;
">
    <h2 style="
       color: darkslateblue;
        ">Follow me !</h2>
        <ul> 
          <li> 
            <a href="https://www.linkedin.com/in/h%C3%A9lo%C3%AFse-escaravage-48913225b">
             <i class="fa-brands fa-linkedin-in"> 
            </i>
          </a>
          </li>
          <li>
             <a href="https://www.facebook.com/profile.php?id=100084840552953">
              <i class="fa-brands fa-facebook">
              </i>
          </li>
        </ul>
  </div>
</div>
